
/*====================================================*/
/* FILE /sedlex/inline_styles/b9e5aae40b210e3ba49ad332b70542b7.css*/
/*====================================================*/
.shorten_url { 
	padding: 10px 10px 10px 10px ; 
	border: 1px solid #AAAAAA ; 
	background-color: #EEEEEE ; 
}
